<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knowhub.mapper.BlogCollectMapper">

    <resultMap id="BlogCollectResultMap" type="com.knowhub.pojo.entity.BlogCollect">
        <id property="blogId" column="blog_id"/>
        <id property="userId" column="user_id"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <insert id="addBlogCollect" parameterType="com.knowhub.pojo.entity.BlogCollect">
        insert ignore into blog_collect(blog_id, user_id) values (#{blogId}, #{userId})
    </insert>

    <delete id="deleteBlogCollect" parameterType="com.knowhub.pojo.entity.BlogCollect">
        delete from blog_collect where blog_id = #{blogId} and user_id = #{userId}
    </delete>

    <select id="getBlogCollect" parameterType="com.knowhub.pojo.entity.BlogCollect" resultMap="BlogCollectResultMap">
        select * from blog_collect where blog_id = #{blogId} and user_id = #{userId}
    </select>

</mapper>