<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rookie.system.mapper.SysRoleMapper">

    <select id="getDefaultRole" resultType="com.rookie.common.pojo.entity.SysRole">
        select * from sys_role where is_default = 1
    </select>


</mapper>